<div class="flex gsap-contenido justify-center">
  <div class="w-11/12 md:max-w-3xl mt-4 p-2">
    <div class="p-2 bg-gray-900 flex items-center">
      <app-boton-regresar routerLink="/dashboard/examenes"></app-boton-regresar>
      <h1 class="text-2xl text-white ml-2"> Estadisticas de examenes </h1>
    </div>
    <div class="text-sm md:flex md:items-center md:justify-center text-center mt-4">
      <input [(ngModel)]="fechaDesde" type="date" class="border block p-2 w-11/12 mx-auto focus:outline-none border-gray-400">
      <input [(ngModel)]="fechaHasta" type="date"
        class="border block p-2 w-11/12 mx-auto mt-2 md:mt-0 md:ml-2 focus:outline-none border-gray-400">
      <button
        (click)="generarEstadisticas()"
        class="p-2 focus:outline-none block w-11/12 mx-auto mt-2 md:mt-0 bg-secondaryColor text-white md:ml-2 shadow rounded">
        Generar </button>
    </div>
    <div *ngIf="!inicio">
      <div class="text-sm border border-gray-400 w-11/12 md:max-w-xl mx-auto mt-6">
        <p class="text-base bg-gray-900 text-white p-2"> Estadisticas generadas </p>
        <div>
          <div class="mt-2 border-b border-gray-400 p-2 flex items-center justify-between">
            <div class="font-semibold flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-700" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
              </svg>
              <span class="ml-1">
                Total de examenes
              </span>
            </div>
            <span> {{ estadisticas?.total_examenes }} </span>
          </div>
          <div class="mt-2 border-b border-gray-400 p-2 flex items-center justify-between">
            <div class="font-semibold flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-green-700" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-1">
                Examenes aprobados
              </span>
            </div>
            <span> {{ estadisticas?.examenes_aprobados }} </span>
          </div>
          <div class="mt-2 p-2 flex items-center justify-between">
            <div class="font-semibold flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-red-700" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
              <span class="ml-1">
                Examenes desaprobados
              </span>
            </div>
            <span> {{ estadisticas?.examenes_desaprobados }} </span>
        </div>
      </div>
    </div>
  </div>
</div>