@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* You can add global styles to this file, and also import other style files */

/* Para evitar cuadro azul en celular al hacer clic */

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

i {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Clases de TailwindCSS */

.boton-crear {
    @apply p-2 bg-green-600 focus:outline-none hover:opacity-90 text-sm text-white rounded shadow
}

.boton-editar {
    @apply p-2 bg-orange-500 focus:outline-none hover:opacity-90 text-sm text-white rounded shadow
}

.boton-detalles {
    @apply p-2 bg-indigo-600 focus:outline-none hover:opacity-90 text-sm text-white rounded shadow
}

.boton-eliminar {
    @apply p-2 bg-red-600 focus:outline-none hover:opacity-90 text-sm text-white rounded shadow
}